<div class="container">
    <div class="wrap">
        <div class="card">
            <div class="content">
                <h2><a>{{ carte.title }}</a></h2>
                <div class="card-int">
                    <p> {{ carte.plat1 }} </p>  <p class="price">{{ carte.prix1 }} €</p>
                </div>
                <div class="card-int">
                    <p> {{ carte.plat2 }} </p>  <p class="price">{{ carte.prix2 }} €</p>
                </div> 
            </div>
        </div>
   
    </div>
</div>

