<!-- Navbar -->
<app-navbar></app-navbar>
<div class="container">
    <div class="wrap">
        <div class="card">
            <div class="content">
                <h2><a>Boissons Chaudes</a></h2>
                <div class="card-int">
                    <p> Café </p>  <p class="price">1 €</p>
                </div>
                <div class="card-int">
                    <p> Chocolat </p>  <p class="price">1 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Boissons Fraîches</a></h2>
                <div class="card-int">
                    <p> Coca-cola </p>  <p class="price">1 €</p>
                </div>
                <div class="card-int">
                    <p> Orangina </p>  <p class="price">1 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Viennoiseries</a></h2>
                <div class="card-int">
                    <p>Pain au Chocolat</p>  <p class="price">1 €</p>
                </div>
                <div class="card-int">
                    <p>Croissant </p>  <p class="price">1 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Les Desserts</a></h2>
                <div class="card-int">
                    <p> Creme brulée </p>  <p class="price">2 €</p>
                </div>
                <div class="card-int">
                    <p> Tiramisu original </p>  <p class="price">2.5 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Sandwiches</a></h2>
                <div class="card-int">
                    <p> Saumon </p>  <p class="price">3 €</p>
                </div>
                <div class="card-int">
                    <p> Thon mayonnaise </p>  <p class="price">2.5 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Les Petites Faims</a></h2>
                <div class="card-int">
                    <p> Croc-monsieur </p>  <p class="price">1.5 €</p>
                </div>
                <div class="card-int">
                    <p>Chips </p>  <p class="price">1 €</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a>Les Formules Midi</a></h2>
                <div class="card-int">
                    <p> Plat + Boisson Fraiche + Dessert </p>  <p class="price">6 €</p>
                </div>
            </div>
        </div>
    </div>
</div>

