<!-- import de la police d'écriture -->
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<nav class="navbar">
    <a routerLink="/Home" class="logo">CANTINIÈRE</a>
    <div class="nav-links">
        <ul>
            <a class="bonjour">Bonjour Utilisateur</a>
        </ul>
    </div>
    <div class="nav-links">
        <ul>
            <a routerLink="/Home"><button type="button" class=" btn--border btn-read btn--animated">Plats de la Semaine</button></a>
            <a routerLink="/Cartes" ><button type="button" class=" btn--border btn-read btn--animated">Carte</button></a>
                <a (click)="openDialog()"><button type="button" class=" btn--border btn-read btn--animated">Se  Connecter</button></a>
                    <!-- pour appeler une icone fontawesome en html angular -->
                <a href="#"><button type="button" class=" btn--border btn-read btn--animated"><fa-icon [icon]="cart"></fa-icon></button></a>
        </ul>
    </div>

        <div class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
</nav>



