<app-navbar></app-navbar>
<!-- Content -->
<div class="big_container">
    <div class="container">
        <div class="img">
                <img src="/assets/cuistot.jpg" alt="image_illustration">
        </div>
        <div class="form">
            <a routerLink="/Home" class="logo">CANTINIÈRE</a>
            <h4>Réinitialisation de mot de passe</h4>
            <form action="#">
                <div class="input">
                    <input type="password" name="email" placeholder="Nouveau mot de passe">
                </div>
                <div class="input">
                    <input type="password" name="pass" placeholder="Confirmer le mot de passe">
                </div>
                <input type="submit" class="btn" value="Réinitialiser">
            </form>
        </div>
    </div>
    
</div>