<div class="container">
    <div class="wrap">
        <div class="card">
            <div class="content">
                <h2><a href="#">Lundi</a></h2>
                <div class="card-int">
                    <p> Plat 1 :amet consectetur adipisicing elit. 
                        Ex et minus esse explicabo consequuntur </p>
                </div>
                <div class="card-int">
                    <p>Plat 2 : ullam dolor magni dolore vel delectus maxime 
                        cumque accusamus quo placeat nostrum atque, quisquam fugit officia?</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a href="#">Mardi</a></h2>
                <div class="card-int">
                    <p> Plat 1 :amet consectetur adipisicing elit. 
                        Ex et minus esse explicabo consequuntur </p>
                </div>
                <div class="card-int">
                    <p>Plat 2 : ullam dolor magni dolore vel delectus maxime 
                        cumque accusamus quo placeat nostrum atque, quisquam fugit officia?</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a href="#">Mercredi</a></h2>
                <div class="card-int">
                    <p> Plat 1 :amet consectetur adipisicing elit. 
                        Ex et minus esse explicabo consequuntur </p>
                </div>
                <div class="card-int">
                    <p>Plat 2 : ullam dolor magni dolore vel delectus maxime 
                        cumque accusamus quo placeat nostrum atque, quisquam fugit officia?</p>
                </div>    
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a href="#">Jeudi</a></h2>
                <div class="card-int">
                    <p> Plat 1 :amet consectetur adipisicing elit. 
                        Ex et minus esse explicabo consequuntur </p>
                </div>
                <div class="card-int">
                    <p>Plat 2 : ullam dolor magni dolore vel delectus maxime 
                        cumque accusamus quo placeat nostrum atque, quisquam fugit officia?</p>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2><a href="#">Vendredi</a></h2>
                <div class="card-int">
                    <p> Plat 1 :amet consectetur adipisicing elit. 
                        Ex et minus esse explicabo consequuntur </p>
                </div>
                <div class="card-int">
                    <p>Plat 2 : ullam dolor magni dolore vel delectus maxime 
                        cumque accusamus quo placeat nostrum atque, quisquam fugit officia?</p>
                </div> 
            </div>
        </div>
    </div>
</div>
