<h2 mat-dialog-title>{{ data?.title }}</h2>

<div mat-dialog-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime ea sapiente,
         soluta optio sint excepturi quisquam ex perferendis maiores doloremque aut 
         nostrum molestiae unde autem ullam accusamus, obcaecati similique?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime ea sapiente,
         soluta optio sint excepturi quisquam ex perferendis maiores doloremque aut 
         nostrum molestiae unde autem ullam accusamus, obcaecati similique?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime ea sapiente,
         soluta optio sint excepturi quisquam ex perferendis maiores doloremque aut 
         nostrum molestiae unde autem ullam accusamus, obcaecati similique?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime ea sapiente,
         soluta optio sint excepturi quisquam ex perferendis maiores doloremque aut 
         nostrum molestiae unde autem ullam accusamus, obcaecati similique?</p>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
    <button mat-button [mat-dialog-close]="'FERMER'">confirmer</button>
</div>
