<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<nav class="navbar">
    <a href="#" class="logo">CANTINIÈRE</a>
    <div class="nav-links">
        <ul>
            <li ><a href="#" class="activelist">Plats de la Semaine</a></li>
            <li><a href="#">Carte</a></li>
            <button ><a href="#" class="navbarbutton">Se  Connecter</a> </button>
        </ul>
       
    </div>
    <!-- pour appeler une icone fontawesome en html angular -->
        <div> <fa-icon [icon]="bars" class="menuhamburger"></fa-icon></div>
</nav>


