<!-- Div contenant le bouton pour fermer le modal -->
<div class="close">
  <!-- Bouton pour fermer le modal -->
  <button mat-button mat-dialog-close type="button" class="btn__close">
    <fa-icon [icon]="close"></fa-icon>
  </button>
</div>

<!-- Titre du modal -->
<h2 mat-dialog-title>{{ data?.title }}</h2>

<!-- Formulaire de connexion -->
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">

  <div class="content__dialog">
    <div class="input__dialog">
      <!-- Input pour saisir l'adress e-mail -->
      <input type="text" name="login" class="input" [(ngModel)]="form.email" #login="ngModel" required
        placeholder="Adresse Email">
      <!-- ngIf et gestion des erreurs si l'adresse n'est pas saisie  -->
      <div class="errors" *ngIf="login.errors && f.submitted">Le login est requis !</div>
    </div>
    <div class="input__dialog">
      <!-- Input pour saisir le mot de passe -->
      <input type="password" name="mdp" class="input" [(ngModel)]="form.password" #password="ngModel" required
        minlength="5" placeholder="Mot de passe">
      <!-- ngIf et gestion des erreurs si le mot de passe n'est pas saisi -->
      <div class="errors" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Le mot de passe est requis !</div>
        <div *ngIf="password.errors['minlength']">Le mot de passe doit etre de minimum 5 caractères !</div>
      </div>
    </div>

    <!-- Bouton s'inscrire, se connecter et mot de passe oublié -->
    <div mat-dialog-actions class="sign__button-container">
      <button class="sign__buttons">Se connecter</button>
      <button mat-button mat-dialog-close routerLink="/Inscription" type="button"
        class="sign__buttons">Créer un compte</button>
    </div>
    <div mat-dialog-actions class="sign__button">
      <button mat-button mat-dialog-close routerLink="/RequestReset" type="button"
        class="sign__buttons">Mot de passe oublié</button>
    </div>
  </div>
</form>
