
/* General CSS */
*,
*::before,
*::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: #eaeff4;
}

/* Div contenant le bouton close */
.close { display: flex; justify-content: flex-end; }

/* Bouton close */
.close .btn__close {
  font-size: 1.8em;
  transition: 0.3s;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Hover pour changer la couleur du bouton close */
.close .btn__close:hover { color: rgb(110, 110, 110); }

/* Titre du modal */
.mat-dialog-title { display: flex; align-items: center; justify-content: center; font-size: 30px; }

/* Contenu général du modal */
.content__dialog {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}

/* Contenant des inputs */
.input__dialog { display: flex; justify-content: center; }

/* Inputs du formulaire */
.content__dialog .input {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbbcbd;
  padding: 15px;
  margin-bottom: 20px;
  width: 15vw;
  font-weight: normal;
  font-size: 1rem;
  outline: none;
}

/* webkit pour stylisé le placeholder dans l'input */
::-webkit-input-placeholder { text-align: center; }

/* Contenant des boutons pour s'inscrire, se connecter et mot de passe oublié */
.sign__button-container { display: flex; justify-content: space-between; }

/* Boutons pour s'inscrire etc. */
.sign__buttons {
  position: relative;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
/* Ligne orange en-dessous des boutons */
.sign__buttons::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #ffb827;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

/* Hover pour animer la ligne orange en-dessous des boutons */
.sign__buttons:hover:not(.close .btn-read):before { transform: scaleX(1); transform-origin: left; }

/* Erreurs de saisies */
.errors { color: red; }

/* @Medias Querries */
@media screen and (max-width: 800px) {
  .content__dialog { flex-direction: column; }
}
@media screen and (max-width: 510px) {
  .sign__button { justify-content: center; }
}
@media screen and (max-width: 360px) {
  .sign__button { flex-direction: column; }
  .btn-read { margin-bottom: 10px; }
}
