<app-navbar></app-navbar>
<div class="big_container">
    <div class="container">
        <div class="img">
                <img src="/assets/cuistot.jpg" alt="image_illustration">
        </div>
        <div class="form">
            <a routerLink="/Home" class="logo">CANTINIÈRE</a>
            <h4>S'inscrire</h4>
            <form action="#">
                <div class="input">
                    <input type="email" name="email" placeholder="Adresse Email">
                </div>
                <div class="input">
                    <input type="motdepasse" name="pass" placeholder="**************">
                </div>
                <input (click)="register()" type="submit" class="btn" value="Inscription">
            </form>
        </div>
    </div>
    
</div>
