<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Contenu -->
<div class="content">
  <form class="update__form">
    <h2>Modifier un menu</h2>
    <input class="input" [(ngModel)]="name" name="name" placeholder="Nom du menu">
    <input class="input" [(ngModel)]="price" name="price" placeholder="Prix du menu">
    <button (click)="updateMenu('1')">Modifier</button>
  </form>
  <form class="update__form">
    <h2>Supprimer un menu</h2>
    <input class="input" [(ngModel)]="id" name="id" placeholder="Identifiant du menu">
    <button (click)="updateMenu('1')">Supprimer</button>
  </form>
</div>
