main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin: 1em auto;
  width: 44.2em;
}
.card {
  background: #fff;
  border-radius: 0.3em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.content .img__user-account {
  margin: 0 auto;
  text-align: center;
}
.content .img__user-account .banner__img {
  border-bottom: 0.2em solid #f5f5f5;
  border-radius: 0.3em;
  margin-top: 1px;
  width: 43.95em;
  height: 16em;
}
.content .img__user-account .avatar__img {
  margin: 0 auto;
  background: #fff;
  width: 8em;
  height: 8em;
  padding: 0.25em;
  border-radius: 50%;
  margin-top: -7em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.35);
}

.content .data__user-account,
.content .description__user-account {
  text-align: center;
  padding: 0 1.5em;
}
.content .data__user-account h1 {
    font-family: "Lato", sans-serif;
    margin-top: 0.35em;
    color: #292f33;
    margin-bottom: 0; 
  }
  .content .data__user-account p {
      font-family: "Lato", sans-serif;
    color: #8899a6; 
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0.5em; 
  }
  .content .description__user-account {
    color: #75787b;
    font-size: 0.98em; 
  }
