<app-navbar></app-navbar>
<main>
    <div class="content">
        <div class="user-account card">
            <div class="img__user-account">
                <img class="banner__img" src="https://imgs.search.brave.com/oC-hMZHJ-1Mt9xJS_hlLB8djJEWzGgxcMHF7qzn64WM/rs:fit:1200:1200:1/g:ce/aHR0cDovL2ltZzMu/d2lraWEubm9jb29r/aWUubmV0L19fY2Iy/MDE0MDgxODEyMDA0/Ni9zeW1ib2xpc20v/aW1hZ2VzLzQvNDMv/T3JhbmdlLnBuZw" />
        <img class="avatar__img" src="https://imgs.search.brave.com/-fo-JE1S27P_Ir15Y0sFpdUVkAG6lmZATfwMy-vJ_aw/rs:fit:499:498:1/g:ce/aHR0cHM6Ly93d3cu/dzNzY2hvb2xzLmNv/bS9ob3d0by9pbWdf/YXZhdGFyLnBuZw" alt="jofpin"/>
            </div>
            <div class="data__user-account">
                <h1>Username</h1>
                <p>Utilisateur</p>
            </div>
            <div class="description__user-account">
                 ... Informations ici par la suite ...
            </div>
        </div>
    </div>
</main>
