.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.wrap {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  /* 
    commentaire pour bien visualier lorsque l'on veut modifier la carte
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.card-int {
  margin: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.25s;
  text-align: start;
}

.card-int:hover {
  box-shadow: none;
}

.card .content {
  padding: 15px;
}

.card .content p {
  font-family: "Poppins";
  margin: 15px 0;
}
.card .content a {
  position: relative;
  font-family: "Poppins";
  list-style: none;
  text-decoration: none;
  color: #ffb827;
  /* padding: 0 10px; */
  cursor: pointer;
}
.card .content a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #ffb827;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.card .content a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 80px 40px;
  }
}














hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.158);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 50px;
}
.card__container {
  display: flex;
  gap: 3em;
}
.meal__day {
  text-transform: capitalize;
  font-size: 3em;
  color: #ffb827;
}
.emoji {
  font-size: 20px;
  margin-right: 3px;
}

.meal__card {
  --border-radius: 0.75rem;
  --primary-color: #ffb827;
  --secondary-color: #9c711a;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  transition: all 0.2s;
}

.meal__card .meal__img {
    width: 205px;
    height: 205px;
    border-radius: var(--border-radius);
}

.meal__card > * + * {
  margin-top: 1.1em;
}

.meal__card .meal__card-content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.meal__card .meal__card-title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.meal__card .meal__card-price {
  color: #6e6b80;
  font-size: 0.8rem;
}

.meal__card .meal__card-arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal__card svg {
  transition: 0.2s;
}

.meal__cart-add {
  color: #fff;
}

/* hover */
/* .meal__card .meal__card-title:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: 0.2s;
} */

.meal__card .meal__card-arrow:hover {
  background: #111;
}

.meal__card .meal__card-arrow:hover svg {
  transform: translateX(3px);
}